* {
    margin: 0;
    padding: 0;
}

#main-navbar{
  background-color: #191414 !important;
}

#main-navbar .navbar-brand{
    color: #1db954;
}

body{
    background-color: #222326;
}
a, li, p, span {
    color: #FFF;
}

.avatar-img{
    object-fit: cover;
    width: 128px;
    height: 128px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.user-info-list-label{
    display: block;
    margin-bottom: 25px;
    color: #1db954;
}

.user-info-list-item{
    display: block;
    color: #FFF;
}

.show-tracks-btn{
    user-select: none;
    border: none;
    outline: none;
    padding: 10px 25px;
    background-color: #1db954;
    color: #000;
    border-radius: 25px;
    text-decoration: none;
}
.show-tracks-btn:hover{
    color: #000;
    cursor: pointer;
}

.show-tracks-btn:visited{
    text-decoration: none;
}

.sign-in-link{
    margin-right: 15px;
}

.sign-in-link button{
    border: none;
    outline: none;
    padding: 0 25px;
    background-color: #1db954;
    color: #000;
    border-radius: 25px;
}

#tracks-list-holder{
    display: none;
}

#share-btn{
    display: none;
    user-select: none;
    margin: 0 auto;
    outline: none;
    border: none;
    background-color: #1db954;
    font-weight: bold;
    padding: 5px 64px;
    border-radius: 3px;
}

#share-btn span{
    color: #000;
}

#share-btn:hover {
    box-shadow: 0 0 3px 0 #1db954;
}

.remove-btn-link{
    display: block;
    border-radius: 5px;
    text-decoration: none;
    color: #dc3545;
    padding: .25rem 0;
    margin-top: .25rem;
    user-select: none;
}

.remove-btn-link:hover{
    background-color: rgba(220, 53, 69, 0.8);
    color: #FFF;
    cursor: pointer;
}

#loading-holder{
    text-align: center;
    display: none;
}

#tracks-final-count{
    color: #57585B;
    display: none;
}

#share-btn img{
    display: none;
}

.show-share-btn-loading{
    background-color: #000 !important;
}

.custom-danger-alert{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
}

.playlist-img{
    object-fit: cover;
    width: 190px;
    height: 170px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}
