{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block alerts %}
    {% from 'macros/alerts.html' import show_alerts %}
    {{ show_alerts('error') }}
{% endblock %}

{% block content %}
    <div class="row">
    {% for playlist in playlists %}
        <div class="col-lg-3 main-playlist-item">
            <a href="{{ url_for('playlist.index', playlist_id=playlist.id) }}">
                <img src="{{ playlist.playlist_image_url }}">
                <h4>{{ playlist.playlist_name|truncate(25) }}</h4>
            </a>
        </div>
    {% endfor %}
    </div>
{% endblock %}