{% extends 'base.html' %}

{% block title %}Me{% endblock %}

{% block content %}
<br>
<div class="row">
    <div class="col-6">
        <img src="{{ avatar_url }}" class="avatar-img">
    </div>
    <div class="col-6">
            <span class="user-info-list-label">
                Email:
                <span class="user-info-list-item"><small>{{ data['email'] }}</small></span>
            </span>
            <span class="user-info-list-label">
                Display Name:
                <span class="user-info-list-item"><small>{{ data['display_name'] }}</small></span>
            </span>
            <span class="user-info-list-label">
                Spotify ID:
                <span class="user-info-list-item">{{ data['id'] }}</span>
            </span>
    </div>
</div>
<br><br>
<div class="row">
    <div class="col-4 offset-lg-4" style="text-align: center">
        <a class="show-tracks-btn">Show my top songs</a>
    </div>
</div>
<br><br>
<div class="row">
    <div class="col-4 offset-lg-4" id="loading-holder">
        <img src="{{ url_for('static', filename='images/loading.gif') }}">
    </div>
</div>
<div class="row justify-content-center" id="tracks-list-holder">
    <div class="col-10">
        <table class="table table-dark table-hover">
          <thead>
            <tr>
              <th scope="col">TITLE</th>
              <th scope="col">ARTIST</th>
              <th scope="col">ALBUM</th>
              <th scope="col" class="col-1 text-danger">REMOVE</th>
            </tr>
          </thead>
          <tbody id="tracks-columns-holder"></tbody>
        </table>
    </div>
</div>


<div class="row" style="margin-bottom: 200px;">
    <div class="col-4 offset-lg-4" style="text-align: center;">
        <button id="share-btn">Share</button>
    </div>
</div>
{% endblock %}

{% block footer_scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/me.js') }}"></script>
{% endblock %}