{% extends 'base.html' %}

{% block title %}Me{% endblock %}

{% block content %}
{{ data['display_name'] }}
<div class="row">
    <div class="col-6">
        <img src="{{ avatar_url }}" class="avatar-img">
    </div>
    <div class="col-6">
            <span class="user-info-list-label">
                Email:
                <span class="user-info-list-item"><small>ali@gmail.com</small></span>
            </span>
            <span class="user-info-list-label">
                Display Name:
                <span class="user-info-list-item"><small>Behnam</small></span>
            </span>
            <span class="user-info-list-label">
                Spotify ID:
                <span class="user-info-list-item">df54sd65f</span>
            </span>
    </div>
</div>
<div class="row">
    <div class="col-4 offset-5"><br><br>
        <a class="share-song-btn">Show my top songs</a>
    </div>
</div>
<br><br>

<div class="row justify-content-center">
    <div class="col-10">
        <table class="table table-dark table-hover">
          <thead>
            <tr>
              <th scope="col">TITLE</th>
              <th scope="col">ARTIST</th>
              <th scope="col">ALBUM</th>
              <th scope="col" class="col-1 text-danger">REMOVE</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>wsd</td>
              <td>AsdT</td>
              <td>AL</td>
              <td colspan="2" style="text-align: center">&times;</td>

            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td colspan="2">&times;</td>

            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Larry the Bird</td>
              <td colspan="2">&times;</td>
            </tr>
          </tbody>
        </table>
    </div>
</div>


<div class="row justify-content-center" style="margin-bottom: 200px">
    <div class="col-lg-4 offset-lg-5">
        <button>Share</button>
    </div>
</div>
{% endblock %}

{% block footer_scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/me.js') }}"></script>
{% endblock %}