{% extends 'base.html' %}
{% block title %}{{ playlist_name }}{% endblock %}

{% block content %}
<br>
<div class="row">
    <img src="{{ avatar_url }}" class="playlist-img">
</div>
<br>

<div class="row">
    <div class="col-lg-4 offset-lg-4" style="text-align: center">
        <h3 class="user-info-list-item">
            <span id="playlist-display-name">{{ playlist_name }}</span>
            {% if is_owner %}
            <span class="edit-playlist-name" data-bs-toggle="modal" data-bs-target="#edit-name-modal">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                  <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                </svg>
            </span>
            {% endif %}
        </h3>
    </div>
</div>
<br>
<div class="row">
    <div class="col-lg-6" style="text-align: right">
        {% if logged_in and is_owner %}
        <button  class="btn btn-danger delete-modal-button" data-bs-toggle="modal" data-bs-target="#delete-modal">Delete</button>
        {% endif %}
    </div>
{% if is_owner %}
    <div class="col-lg-6" style="text-align: left">
{% else %}
    <div class="col-lg-12" style="text-align: center">
{% endif %}
        <button id="import-playlist-btn">Import
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-down" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M3.5 6a.5.5 0 0 0-.5.5v8a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5v-8a.5.5 0 0 0-.5-.5h-2a.5.5 0 0 1 0-1h2A1.5 1.5 0 0 1 14 6.5v8a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 14.5v-8A1.5 1.5 0 0 1 3.5 5h2a.5.5 0 0 1 0 1h-2z"/>
          <path fill-rule="evenodd" d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
        </svg>
        </button>
    </div>
</div>

<br><br>

<div class="row justify-content-center" id="playlist-tracks-list-holder">
    <div class="col-10">
        <table class="table table-dark table-hover">
          <thead>
            <tr>
              <th scope="col">TITLE</th>
              <th scope="col">ARTIST</th>
              <th scope="col">ALBUM</th>
            </tr>
          </thead>
          <tbody id="tracks-columns-holder">
          {% for track in tracks %}
            <tr data-uri="{{ track['track_uri'] }}">
                <td>{{ track['track_name'] }}</td>
                <td>{{ track['artists_name'] }}</td>
                <td>{{ track['album_name'] }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block modals %}
{% if is_owner %}
<!-- Modal to confirm playlist deletion -->

<div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="delete-modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="delete-modalLabel">Confirm Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this playlist?
      </div>
      <div class="modal-footer justify-content-center">
          <div class="container">
              <div class="row">
                  <div class="col-lg-6" style="text-align: center">
                      <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                  </div>
                  <div class="col-lg-6" style="text-align: center">
                      <button type="button" class="btn btn-success">Delete</button>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>


<!-- end of modal for deletion -->

<!-- Modal to confirm playlist name edit -->

<div class="modal fade" id="edit-name-modal" tabindex="-1" aria-labelledby="edit-name-modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="edit-name-modalLabel">Edit playlist's name</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <input type="text" class="form-control" id="edit-name-input" placeholder="Playlist name" aria-label="playlist's name" aria-describedby="button-addon2">
          <button class="btn" type="button" id="button-save-edit-name">Save</button>
        </div>
        <span class='empty-name-error'>Playlist name cannot be empty!</span>
      </div>
    </div>
  </div>
</div>


<!-- end of modal for playlist name edit -->
{% endif %}
{% endblock %}

{% block footer_scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/playlist.js') }}"></script>
{% endblock %}